# dependencies
node_modules/

# next.js
.next/
out/

# build
tsconfig.tsbuildinfo

# environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# database backups
backups/

# debug
npm-debug.log*
Bin-Label-Maker-main/
Bin-Label-Maker-main.zip
